.fundo-vermelho,
.fundo-azul {
    height: 200px;
    margin-bottom: 8px;
}

.grey-bgd{
    background: #777;
}
.blue-bgd{
    background: blue;
}
.news{
    background: grey;
    margin-top: 3px;
}

.newL{
    background: grey;
    margin-top: 3px;
    
}